USE [master]
GO
/****** Object:  Database [QuanLyThuCung]    Script Date: 5/19/2026 10:52:50 AM ******/
CREATE DATABASE [QuanLyThuCung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuCung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyThuCung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuCung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyThuCung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuCung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuCung]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/19/2026 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [varchar](20) NOT NULL,
	[MaDichVu] [varchar](20) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/19/2026 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [varchar](20) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/19/2026 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](20) NOT NULL,
	[MaKhachHang] [varchar](20) NOT NULL,
	[MaThuCung] [varchar](20) NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/19/2026 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuCung]    Script Date: 5/19/2026 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuCung](
	[MaThuCung] [varchar](20) NOT NULL,
	[MaKhachHang] [varchar](20) NOT NULL,
	[TenThuCung] [nvarchar](100) NOT NULL,
	[LoaiThuCung] [nvarchar](50) NOT NULL,
	[Giong] [nvarchar](100) NULL,
	[Tuoi] [int] NULL,
	[TinhTrangSucKhoe] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaDichVu], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'HD001', N'DV001', CAST(150000.00 AS Decimal(18, 2)), 1, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaDichVu], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'HD001', N'DV003', CAST(80000.00 AS Decimal(18, 2)), 1, CAST(80000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaDichVu], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'HD002', N'DV002', CAST(200000.00 AS Decimal(18, 2)), 1, CAST(200000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia]) VALUES (N'DV001', N'Tắm thú cưng', CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia]) VALUES (N'DV002', N'Cắt tỉa lông', CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia]) VALUES (N'DV003', N'Vệ sinh tai', CAST(80000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaThuCung], [NgayLap], [TongTien]) VALUES (N'HD001', N'KH001', N'TC001', CAST(N'2026-05-19T10:42:36.500' AS DateTime), CAST(230000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaThuCung], [NgayLap], [TongTien]) VALUES (N'HD002', N'KH002', N'TC003', CAST(N'2026-05-19T10:42:36.500' AS DateTime), CAST(350000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [DiaChi]) VALUES (N'KH001', N'Nguyễn Văn An', N'0901111111', N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [DiaChi]) VALUES (N'KH002', N'Trần Thị Bình', N'0902222222', N'Hải Phòng')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [DiaChi]) VALUES (N'KH003', N'Lê Minh Cường', N'0903333333', N'Đà Nẵng')
GO
INSERT [dbo].[ThuCung] ([MaThuCung], [MaKhachHang], [TenThuCung], [LoaiThuCung], [Giong], [Tuoi], [TinhTrangSucKhoe]) VALUES (N'TC001', N'KH001', N'Mimi', N'Mèo', N'Anh lông ngắn', 2, N'Khỏe')
INSERT [dbo].[ThuCung] ([MaThuCung], [MaKhachHang], [TenThuCung], [LoaiThuCung], [Giong], [Tuoi], [TinhTrangSucKhoe]) VALUES (N'TC002', N'KH001', N'Bubu', N'Chó', N'Poodle', 3, N'Khỏe')
INSERT [dbo].[ThuCung] ([MaThuCung], [MaKhachHang], [TenThuCung], [LoaiThuCung], [Giong], [Tuoi], [TinhTrangSucKhoe]) VALUES (N'TC003', N'KH002', N'Kiki', N'Chó', N'Husky', 1, N'Viêm da')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DichVu__A77D068938C85115]    Script Date: 5/19/2026 10:52:50 AM ******/
ALTER TABLE [dbo].[DichVu] ADD UNIQUE NONCLUSTERED 
(
	[TenDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BD2B111D5E]    Script Date: 5/19/2026 10:52:50 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
GO
ALTER TABLE [dbo].[ThuCung]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>=(1)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[ThuCung]  WITH CHECK ADD CHECK  (([Tuoi]>=(0)))
GO
USE [master]
GO
